
# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=RICK_MORTY_DB
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_ROLE=ACCOUNTADMIN

# API
RICK_MORTY_API_BASE_URL=https://rickandmortyapi.com/api
API_TIMEOUT=30
API_MAX_RETRIES=5
API_RETRY_BACKOFF=2

# Paths and logging
RAW_DATA_PATH=./data/raw
LOG_LEVEL=INFO
